{% set page_url = '/program/matematik-spets/mattegodis' %}
{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<div class="content cover" style="background-image: url('/images/5mz_m06fc9g-roman-mager.png');"></div>

	<section class="content content--columns">
		<div class="content__column">
			<span class="title">Matematik spetsutbildning</span>

			<p class="text">
				Varje vecka kommer här att finnas ett matematiskt problem av varierande svårighetsgrad. E-maila gärna dina lösningar och svar till
				<a class="anchor" href="mailto:susanne.gennow@dagy.danderyd.se">susanne.gennow@dagy.danderyd.se</a>
			</p>

			<p class="text">
				Rätt svar på föregående problem: 19
			</p>

			<p class="text">
				I figuren är AB och DC parallella och lika långa. Linjerna AB och BC är tangenter till cirkeln. Hur stor är vinkeln ABC?
			</p>
		</div>

		<div class="content__column">
			{% include "../templates/matematik-spets/side-menu.html" %}
		</div>
	</section>
{% endblock %}
