{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<div class="content cover" style="background-image: url('/images/vq__yk6faoi-claire-anderson.png');"></div>

	<section class="content content--columns">
		<div class="content__column">
			<div class="title">Inriktning Beteendevetenskap</div>
			<div class="subtitle">Samhällsvetenskapsprogrammet</div>

			<br>
			<br>

			<div class="title">Fördjupningar</div>

			<div class="subtitle">Ledarskap</div>
			<p class="text">
				På samhällsvetenskapliga programmet med inriktning ledarskap
				får du chansen att utveckla dig själv som ledare både
				teoretiskt och praktiskt. Vi kommer att utifrån de skräddarsydda
				kurserna ge dig grund och verktyg så du kan ta ansvar
				för dig själv och andra i olika situationer. I kursen Människors
				Samhällsvetenskapsprogrammet miljöer lär du dig förstå hur du påverkas av din bakgrund och
				livsstil. Lärande och utveckling handlar om förståelsen för hur
				du utvecklar dig själv och andra. Verktygen för ledarskap får
				du i Kommunikation. Här kommer du att lära dig om olika
				metoder du kan använda dig av för att skapa kontakt, göra
				dig förstådd och tolka andra. I Pedagogiskt ledarskap tränar
				du på att leda och förstå sampel i grupper. Alla programfördjupningskurser
				handlar om att ge dig förutsättningar för att i
				framtiden kunna bedriva ett gott ledarskap.
			</p>

			<div class="subtitle">Juridik</div>
			<p class="text">
				Det här är programmet för dig som är intresserad av juridik
				och samhällsfrågor. Du får lära dig mer om människors utveckling
				och vad som formar oss i interaktion med andra.
			</p>

			<p class="text">
				Profilen Juridik bygger på föreläsningar, projekt och rollspel
				där du praktiskt får arbeta med rättsfall och olika former av
				problemlösning. Programmet är högskoleförberedande. Efter
				examen kan du läsa vidare för att bli exempelvis jurist, psykolog,
				polis m.m.
			</p>

			<p class="text">
				”Kriminologi” betyder läran om brottet. Kriminologi och
				rättspsykologi ingår i kurserna för att ge dig förståelse för
				orsaker och konsekvenser av brott på individ-, grupp- och
				samhällsnivå. ”Viktimologi”, eller ”läran om offer för brott”
				är en annan viktig del i undervisningen.
			</p>

			<p class="text">
				Den juridiska profilen genomsyrar också undervisningen i
				andra ämnen. Exempelvis kan samhällskunskapen, historian
				och sociologin i samverkan med juridik behandla viktiga
				juridiska samhällsfrågor såsom privatjuridik och mänskliga
				rättigheter. Kurserna i svenska hjälper dig att utveckla dina
				kommunikativa förmågor. Engelska 7 är en bra grund för att
				kunna läsa avancerad engelsk facklitteratur på högskolenivå.
				Kursen höjer också dina meritpoäng.
			</p>
		</div>

		<div class="content__column">
			{% include "../templates/samhallsvetenskap/side-menu.html" %}
		</div>
	</section>
{% endblock %}
