{% set page_url = '/program/samhallsvetenskap/poangplan' %}
{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<div class="content cover" style="background-image: url('/images/vq__yk6faoi-claire-anderson.png');"></div>

	<section class="content content--columns">
		<div class="content__column">
			<div class="title">Poängplan</div>
			<div class="subtitle">Samhällsvetenskapsprogrammet</div>

			<br>
			<br>

			<div class="cols">
				<div class="col">
					<div class="subheading">Gymnasiegemensamma ämnen</div>
					<table>
						<tbody>
							<tr>
								<td>Engelska 5</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Engelska 6</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Historia 1b</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Idrott och hälsa 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik 1b</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik 2b</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Naturkunskap 1b</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Religionskunskap 1</td>
								<td>50p</td>
							</tr>
							<tr>
								<td>Samhällskunskap 1b</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Svenska 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Svenska 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Svenska 3</td>
								<td>100p</td>
							</tr>
							<tr></tr>
							<tr>
								<td>Gymnasiearbete</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Individuellt val</td>
								<td>200p</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col">
					<div class="subheading">Programgemensamma ämnen</div>
					<table>
						<tbody>
							<tr>
								<td>Filosofi 1</td>
								<td>50p</td>
							</tr>
							<tr>
								<td>Psykologi 1</td>
								<td>50p</td>
							</tr>
							<tr>
								<td>Moderna språk</td>
								<td>200p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="subtitle">Inriktning Beteendevetenskap</div>
			<div class="cols">
				<div class="col">
					<table>
						<tbody>
							<tr>
								<td>Ledarskap och organisation</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Kommunikation</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Psykologi 2a</td>
								<td>50p</td>
							</tr>
							<tr>
								<td>Samhällskunskap 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Sociologi</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="cols">
				<div class="col">
					<div class="subheading">Programfördjupning Ledarskap</div>
					<table>
						<tbody>
							<tr>
								<td>Lärande och utveckling</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Människors miljöer</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Pedagogiskt ledarskap</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col">
					<div class="subheading">Programfördjupning Juridik</div>
					<table>
						<tbody>
							<tr>
								<td>Rätten och samhället</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Engelska 7</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Humanistisk och samhällsvetenskaplig specialisering (kriminologi)</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="subtitle">Inriktning Samhällsvetenskap</div>
			<div class="cols">
				<div class="col">
					<table>
						<tbody>
							<tr>
								<td>Geografi 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Historia 2a</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Religionskunskap 2</td>
								<td>50p</td>
							</tr>
							<tr>
								<td>Samhällskunskap 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Samhällskunskap 3</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="cols">
				<div class="col">
					<div class="subheading">Programfördjupning Samhällsvetenskap</div>
					<table>
						<tbody>
							<tr>
								<td>Engelska 7</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Entreprenörskap</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Internationell relationer</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="cols">
				<div class="col">
					<div class="subheading">Programfördjupning Bild och formgivning</div>
					<table>
						<tbody>
							<tr>
								<td>Bild</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Bild och form 1b</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Form</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col">
					<div class="subheading">Programfördjupning Musik</div>
					<table>
						<tbody>
							<tr>
								<td>Ensemble med körsång</td>
								<td>200p</td>
							</tr>
							<tr>
								<td>Instrument eller sång 1</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col">
					<div class="subheading">Programfördjupning Teater</div>
					<table>
						<tbody>
							<tr>
								<td>Scenisk gestaltning 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Scenisk gestaltning 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Scenisk gestaltning 3</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>

		<div class="content__column">
			{% include "../templates/samhallsvetenskap/side-menu.html" %}
		</div>
	</section>
{% endblock %}
