<div class="side-menu">
	<div class="side-menu__title title">Mer info</div>

	<div class="side-menu__break"></div>
	<a href="/program/naturvetenskap/naturvetenskap" class="side-menu__item">
		Inriktning Naturvetenskap
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/naturvetenskap/naturvetenskap-samhalle" class="side-menu__item">
		Inriktning Naturvetenskap och samhälle
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/naturvetenskap/poangplan" class="side-menu__item">
		Poängplan
	</a>

	<div class="side-menu__break"></div>
	<div class="side-menu__divider"></div>
	<div class="side-menu__break"></div>

	<a href="/program/matematik-spets" class="side-menu__item">
		Matematik spetsutbildning
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/estet" class="side-menu__item">
		Musik, Bild och formgivning eller Teater
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/aspergers" class="side-menu__item">
		För elever med ASD/Aspergers syndrom
	</a>
</div>
