{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<img class="content cover" src="/images/5mz_m06fc9g-roman-mager.png" alt="Matematik">

	<section class="content content--columns">
		<div class="content__column">
			<span class="title">Matematik spetsutbildning</span>

			<p class="text">
				Vill du fördjupa dig inom matematik? Då ska du söka till vår Spetsutbildning Matematikgymnasiet. Den är nationellt erkänd och har funnits på Danderyds gymnasium i 30 år. Det finns 16 gymnasieutbildningar i Sverige som har fått tillstånd från Skolverket att bedriva spetsutbildning. Fem av dessa är inriktade på matematik. Vår spetsutbildning i matematik är den enda i Stockholms län.
			</p>

			<p class="text">
				Matematikgymnasiet är en särskild variant av det Naturvetenskapliga programmet. Du läser matematikkurser parallellt och i snabbare takt. I programmet ingår 700 p matematik, fördelade på Matematik 1-5 och två kurser i Matematik Specialisering. Alla kurser är väl inarbetade och vi har ett utvecklat samarbete med Stockholms Universitet. Du får en bättre helhetsbild av matematik som ämne. Du får tillfälle att öva kreativt tänkande och möjlighet att bli en bra problemlösare.
			</p>

			<p class="text">
				Våra kurser inom Matematik Specialisering är inte bara utvidgning och fördjupning utan vi tar även upp ämnesområden och perspektiv som sällan berörs inom de vanliga matematikkurserna. Utbildningen ger dig ett stort försprång vid fortsatta studier inom matematikkrävande områden.
			</p>

			<p class="text">
				Vi erbjuder dig en stimulerande miljö med likasinnade elever. Flera av våra elever når årligen framgångar i både nationella och internationella matematik- och programmeringstävlingar.
			</p>

			<p class="text">
				Du som söker denna utbildning kallas till en heldag för antagningsprov där vi testar dina baskunskaper och din problemlösningsförmåga i matematik. Resultaten på dessa prov samt dina betyg från åk 9 ligger till grund för antagningen.
			</p>

			<p class="text">
				<a class="anchor" href="/assets/Matematikgymnasiet.pdf">
					Läs mer i vår broschyr
				</a>
			</p>

			<div class="title">Antagningsprov</div>

			<p class="text">
				Du kallas till antagningsprov, antingen 20/3 eller 21/3. Provet består av två delar, basprovet som testar grundläggande baskunskaper och problemlösningsprov.
			</p>

			<p class="text">
				Här kan du ladda ner exempel på antagningsprovet för att testa hur din problemlösningsförmåga ser ut.
			</p>

			<p class="text">
				<a class="anchor" href="/assets/antagningsprov matematik spets2016161.docx">Antagningsprovet från 2016</a>
				<br>
				<a class="anchor" href="/assets/masint151.docx">Antagningsprovet från 2015</a>
			</p>


			<div class="profile">
				<img class="profile__image" src="/images/SGW.png" alt="Susanne Gennow">
				<div class="profile__info">
					<div class="profile__title">Susanne Gennow</div>

					<a class="profile__link" href="mailto:susanne.gennow@dagy.danderyd.se">
						susanne.gennow@dagy.danderyd.se
					</a>
					<a class="profile__link" href="tel:08-568 913 26">
						08-568 913 26
					</a>
				</div>
			</div>
		</div>

		<div class="content__column">
			{% include "../templates/matematik-spets/side-menu.html" %}
		</div>
	</section>
{% endblock %}
