{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<img class="content cover" src="/images/rtzw4f02zy8-nasa.png" alt="Öppet hus på Dagy">

	<section class="content content--columns">
		<div class="content__column">
			<span class="title">Naturvetenskapsprogrammet</span>

			<p class="text">
				Consectetur officiis vel blanditiis exercitationem amet quia corrupti saepe saepe facere sequi omnis obcaecati? Quos eligendi illo architecto minus ea necessitatibus. Repellendus dignissimos odit fuga dolorum reprehenderit quasi? Nam minus natus impedit perferendis facere consequuntur magni. Iure eveniet quaerat quo labore illum sit, inventore? Vitae quisquam dolorem quisquam praesentium ipsa!
			</p>

			<p class="text">
				Adipisicing ipsa reiciendis velit deserunt ex, sequi! Hic eum id dolor doloribus enim suscipit a. Ratione facere laboriosam omnis facilis voluptates. Atque hic possimus itaque ratione voluptate quae saepe. Odit veniam eveniet sequi magni est debitis. Vitae itaque mollitia harum sequi similique facere officiis. Adipisci doloremque iure magnam error laborum.
			</p>

			<span class="title">Foo bar asd</span>

			<p class="text">
				Amet facere repudiandae vero ab vitae sint harum. Esse provident assumenda voluptates voluptates maiores eligendi sed. Soluta quo distinctio libero cum repellat perferendis iusto. Quo beatae cumque eius doloremque sit officia. Accusamus exercitationem sit laboriosam blanditiis saepe, numquam necessitatibus est iusto quasi culpa? Quibusdam recusandae ipsum architecto ad nisi eligendi.
			</p>

			<p class="text">
				Consectetur incidunt quasi perspiciatis rerum vitae! Doloremque fugiat magni nam aliquam voluptatum sed consequatur veritatis quasi. Quos officia fugit odit aut beatae ut voluptate culpa dignissimos dolor nesciunt dolores aut consequatur! Fuga suscipit excepturi quam porro similique autem. Animi amet quidem nam nam illo atque animi nemo nemo itaque amet!
			</p>

			<div class="profile">
				<img class="profile__image" src="/images/anette-bjaras.png" alt="Anette Bjärås">
				<div class="profile__info">
					<div class="profile__title">Anette Bjärås</div>
					<!-- <div>Programrektor</div> -->

					<a class="profile__link" href="mailto:bjaras@dagy.danderyd.se">
						bjaras@dagy.danderyd.se
					</a>
					<a class="profile__link" href="tel:08-555 55 55">
						08-555 55 55
					</a>
				</div>
			</div>
		</div>

		<div class="content__column">
			<div class="side-menu">
				<div class="side-menu__title title">Mer info</div>

				<a href="/program/naturvetenskap/naturvetenskap" class="side-menu__item">
					Inriktning Naturvetenskap
				</a>
				<a href="/program/naturvetenskap/naturvetenskap-samhalle" class="side-menu__item">
					Inriktning Naturvetenskap och samhälle
				</a>
				<a href="/program/naturvetenskap/poangplan" class="side-menu__item">
					Poängplan
				</a>

				<div class="side-menu__divider"></div>

				<a href="/program/matematik-spets" class="side-menu__item">
					Matematik spetsutbildning
				</a>
				<a href="/program/naturvetenskap/estet" class="side-menu__item">
					Musik, Bild och formgivning eller Teater
				</a>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="title">Nyheter</div>

		<div class="grid">

			<a href="/nyheter/oppet-hus-pa-dagy" class="card grid__item">
				<img class="card__image" src="/images/student_1.jpg">
				<span class="card__date">17 januari 2017</span>
				<div class="card__title">
					Öppet hus på Dagy
					7 februari
				</div>
			</a>

			<a href="/nyheter/forsta-plats-i-skolornas-matematiktavling" class="card grid__item">
				<img class="card__image" src="/images/SMT Final 2016 Vinnare_1.jpg">
				<span class="card__date">23 januari 2017</span>
				<div class="card__title">
					Första plats i Skolornas
					Matematiktävling
				</div>
			</a>

			<a href="/nyheter/forelasning-med-entreprenoren-karoline-kull" class="card grid__item">
				<img class="card__image" src="/images/Karolin Kull affisch beskuren_1.jpg">
				<span class="card__date">28 november 2016</span>
				<div class="card__title">
					Föreläsning med
					entreprenören Karoline Kull
				</div>
			</a>

		</div>
	</section>
{% endblock %}
