{% set page_url = '/program/teknik/poangplan' %}
{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<div class="content cover" style="background-image: url('/images/d7czyewzyzc-ricardo-gomez-angel.png');"></div>

	<section class="content content--columns">
		<div class="content__column">
			<div class="title">Poängplan</div>
			<div class="subtitle">Teknikprogrammet</div>

			<br>
			<br>

			<div class="cols">
				<div class="col">
					<div class="subheading">Gymnasiegemensamma ämnen</div>
					<table>
						<tbody>
							<tr>
								<td>Engelska 5</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Engelska 6</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Historia 1b</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Idrott och hälsa 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik 1c</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik 2c</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik 3c</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Religionskunskap 1</td>
								<td>50p</td>
							</tr>
							<tr>
								<td>Samhällskunskap 1b</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Svenska 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Svenska 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Svenska 3</td>
								<td>100p</td>
							</tr>
							<tr></tr>
							<tr>
								<td>Gymnasiearbete</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Individuellt val</td>
								<td>200p</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col">
					<div class="subheading">Programgemensamma ämnen</div>
					<table>
						<tbody>
							<tr>
								<td>Fysik 1a</td>
								<td>150p</td>
							</tr>
							<tr>
								<td>Kemi 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Teknik</td>
								<td>150p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="title">Inriktningar</div>

			<div class="subtitle">Design och produktutveckling</div>
			<div class="cols">
				<div class="col">
					<table>
						<tbody>
							<tr>
								<td>Bild och form 1a1</td>
								<td>50p</td>
							</tr>
							<tr>
								<td>CAD 1</td>
								<td>50p</td>
							</tr>
							<tr>
								<td>Design 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Konstruktion 1</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="cols">
				<div class="col">
					<div class="subheading">Programfördjupning Virtual Reality/Programmering</div>
					<table>
						<tbody>
							<tr>
								<td>CAD 2/CAD 3</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Design 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Teknik - Specialisering</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Entreprenörskap</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col">
					<div class="subheading">Programfördjupning Civilingenjör</div>
					<table>
						<tbody>
							<tr>
								<td>CAD 2/CAD 3</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Design 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Design 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Entreprenörskap</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik 4*</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Fysik 2*</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
					<p class="text"> * inom ramen för individuellt val </p>
				</div>
			</div>
			<div class="subtitle">Informations- och medieteknik</div>
			<div class="cols">
				<div class="col">
					<table>
						<tbody>
							<tr>
								<td>Dator- och nätverksteknik</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Programmering 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Webbutveckling 1</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="cols">
				<div class="col">
					<div class="subheading">Programfördjupning Virtual Reality/Programmering</div>
					<table>
						<tbody>
							<tr>
								<td>CAD 1/CAD 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Design 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Design 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Programmering 2</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col">
					<div class="subheading">Programfördjupning Civilingenjör</div>
					<table>
						<tbody>
							<tr>
								<td>CAD 1/CAD 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Design 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Design 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Programmering 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik 4*</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Fysik 2*</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>

					<p class="text"> * inom ramen för individuellt val </p>
				</div>
			</div>

		</div>

		<div class="content__column">
			{% include "../templates/teknik/side-menu.html" %}
		</div>
	</section>
{% endblock %}
