<div class="side-menu">
	<div class="side-menu__title title">Mer info</div>

	<div class="side-menu__break"></div>
	<a href="/program/ekonomi" class="side-menu__item{{ ' side-menu__item--active' if page_url == '/program/ekonomi' }}">
		Ekonomiprogrammet
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/ekonomi/ekonomi" class="side-menu__item{{ ' side-menu__item--active' if page_url == '/program/ekonomi/ekonomi' }}">
		Inriktning Ekonomi
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/ekonomi/juridik" class="side-menu__item{{ ' side-menu__item--active' if page_url == '/program/ekonomi/juridik' }}">
		Inriktning Juridik
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/ekonomi/poangplan" class="side-menu__item{{ ' side-menu__item--active' if page_url == '/program/ekonomi/poangplan' }}">
		Poängplan
	</a>
</div>
