{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<img class="content cover" src="/images/rtzw4f02zy8-nasa.png" alt="Öppet hus på Dagy">

	<section class="content content--columns">
		<div class="content__column">
			<div class="title">Inriktning Naturvetenskap</div>
			<div class="subtitle">Naturvetenskapsprogrammet</div>

			<p class="text">
				Denna inriktning ger fördjupade kurser inom biologi,
				fysik, kemi och matematik. Inom denna inriktning erbjuder
				vi tre olika programfördjupningar:
			</p>

			<div class="title">Fördjupningar</div>

			<div class="subtitle">Natur</div>
			<p class="text">
				Denna programfördjupning vänder sig till dig som vill
				kombinera naturvetenskap med kurser i filosofi och psykologi.
				Vetenskapsteorier belyses såväl från ett naturvetenskapligt
				och filosofiskt som ett humanistiskt perspektiv.
				I den naturvetenskapliga specialiseringskursen
				får du utforska mer om hur hjärnan och kroppen fungerar.
				Kursen, som bygger vidare på gymnasiekurserna i kemi,
				fysik och biologi, läses i kombination med kursen i psykologi.
				Genom föreläsningar, studiebesök, givna sjukdomsfall,
				mordgåtor och experimentella försök befäster du dina
				kunskaper. I denna inriktning övar du upp din problemlösningsförmåga
				och blir väl förberedd inför vidare
				studier.
			</p>

			<div class="subtitle">Internationell</div>
			<p class="text">
				Att kunna uttrycka sig på olika språk blir allt viktigare i
				vår globaliserade värld. Den internationella programfördjupningen
				kombinerar språk och naturvetenskap och i
				utbildningen ingår kursen engelska 7 samt fler poäng i moderna språk.
				Vissa inslag i undervisningen är på engelska.
				Inom programmet finns upparbetade internationella
				kontakter. Med fokus på naturvetenskap har tidigare utbyten
				skett med Spanien.
			</p>

			<div class="subtitle">Entreprenörskap</div>
			<p class="text">
				Detta är en nyhet för Naturvetenskapsprogrammet och
				vänder sig till dig som vill kombinera entreprenörskap och
				naturvetenskap. Entreprenörskap är en av de åtta nyckelkompetenserna
				som ska anpassa Europas medborgare för
				en allt mer globaliserad värld. Du kommer att utveckla
				förmågan att se nya möjligheter och att omsätta idéer i
				praktisk handling. Du utvecklar kompetenser som kreativitet,
				innovation och motivation. Du får full behörighet
				till universitet och högskola samt praktisk erfarenhet av att
				starta och driva företag genom Ung Företagsamhet, UF.
			</p>

			<span class="subtitle">Musik, Bild och formgivning eller Teater</span>
			<p class="text">
				Här finns en möjlighet för dig som vill kombinera
				antingen en naturvetenskaplig eller en samhällsvetenskaplig
				utbildning med en estetisk inriktning.
			</p>

			<p class="text">
				Utbildningen vänder sig till dig som vill ha en god grund
				inför vidare akademiska studier, samtidigt som du får utöva
				ditt estetiska intresse och utveckla din kreativitet. Utöver
				den naturvetenskapliga respektive samhällsvetenskapliga
				basen, innehåller utbildningarna ett estetiskt grundpaket
				fördelat över tre år. Studierna i bild, musik eller teater görs
				i grupper som består av elever från både NA och SA vilket
				ger dig kontakter som sträcker sig över programmen.
			</p>

			<p class="text">
				<a href="/program/estet" class="anchor">Läs mer om Musik, Bild och formgivning eller Teater</a>
			</p>

		</div>

		<div class="content__column">
			{% include "../templates/naturvetenskap/side-menu.html" %}
		</div>
	</section>
{% endblock %}
