{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<img class="content cover" src="/images/rtzw4f02zy8-nasa.png" alt="Öppet hus på Dagy">

	<section class="content content--columns">
		<div class="content__column">
			<div class="title">Poängplan</div>
			<div class="subtitle">Naturvetenskapsprogrammet</div>

			<br>
			<br>

			<div class="cols">
				<div class="col">
					<span class="subheading">Gymnasiegemensamma ämnen</span>
					<table>
						<tbody>
							<tr>
								<td>Engelska 5</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Engelska 6</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Historia 1b</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Idrott och hälsa 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik 1c</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik 2c</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik 3c</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Religionskunskap 1</td>
								<td>50p</td>
							</tr>
							<tr>
								<td>Samhällskunskap 1b</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Svenska 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Svenska 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Svenska 3</td>
								<td>100p</td>
							</tr>
							<tr></tr>
							<tr>
								<td>Gymnasiearbete</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Individuellt val</td>
								<td>200p</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col">
					<span class="subheading">Programgemensamma ämnen</span>
					<table>
						<tbody>
							<tr>
								<td>Biologi 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Fysik 1</td>
								<td>150p</td>
							</tr>
							<tr>
								<td>Kemi 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Moderna språk</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="title">Inriktningar</div>

			<span class="subtitle">Naturvetenskap</span>
			<div class="cols">
				<div class="col">
					<table>
						<tbody>
							<tr>
								<td>Biologi 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Fysik 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Kemi 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik 4</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="cols">
				<div class="col">
					<span class="subheading">Natur</span>
					<table>
						<tbody>
							<tr>
								<td>Filosofi 1</td>
								<td>50p</td>
							</tr>
							<tr>
								<td>Psykologi 1</td>
								<td>50p</td>
							</tr>
							<tr>
								<td>Naturvetenskaplig specialisering</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col">
					<span class="subheading">Internationell</span>
					<table>
						<tbody>
							<tr>
								<td>Engelska 7</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Val av språk</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col">
					<span class="subheading">Entreprenörskap</span>
					<table>
						<tbody>
							<tr>
								<td>Entreprenörskap</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Entreprenörskap och företagande</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<span class="subtitle">Naturvetenskap och samhälle</span>
			<div class="cols">
				<div class="col">
					<table>
						<tbody>
							<tr>
								<td>Samhällskunskap 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Geografi 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Biologi 2</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="cols">
				<div class="col">
					<span class="subheading">Idrott och hälsa</span>
					<table>
						<tbody>
							<tr>
								<td>Träningslära 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Träningslära 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Psykologi 1</td>
								<td>50p</td>
							</tr>
							<tr>
								<td>Psykologi 2b</td>
								<td>50p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<span class="subtitle">Matematik spetsutbildning</span>
			<div class="cols">
				<div class="col">
					<span class="subheading">Programgemensamma ämnen</span>
					<table>
						<tbody>
							<tr>
								<td>Biologi 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Fysik 1</td>
								<td>150p</td>
							</tr>
							<tr>
								<td>Kemi 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Moderna språk</td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<span class="subheading">Programfördjupning</span>
			<div class="cols">
				<div class="col">
					<table>
						<tbody>
							<tr>
								<td>Fysik 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik - specialisering 1</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik - specialisering 2</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik 4</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Matematik 5</td>
								<td>100p</td>
							</tr>
							<tr>
								<td>Biologi 2, Fysik 3 eller Kemi 2 </td>
								<td>100p</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="content__column">
			{% include "../templates/naturvetenskap/side-menu.html" %}
		</div>
	</section>
{% endblock %}
