<div class="side-menu">
	<div class="side-menu__title title">Mer info</div>

	<div class="side-menu__break"></div>
	<a href="/program/teknik/design-produktutveckling" class="side-menu__item">
		Inriktning design och produktutveckling
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/teknik/informations-medieteknik" class="side-menu__item">
		Inriktning informations- och medieteknik
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/teknik/poangplan" class="side-menu__item">
		Poängplan
	</a>
</div>
