<div class="side-menu">
	<div class="side-menu__title title">Mer info</div>

	<div class="side-menu__break"></div>
	<a href="/program/estet" class="side-menu__item">
		Musik, Bild och formgivning eller Teater
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/naturvetenskap" class="side-menu__item">
		Naturvetenskaps&shy;programmet
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/samhallsvetenskap" class="side-menu__item">
		Samhällsvetenskaps&shy;programmet
	</a>
</div>
