<div class="side-menu">
	<div class="side-menu__title title">Mer info</div>

	<div class="side-menu__break"></div>
	<a href="/program/gymnasiesarskolan" class="side-menu__item{{ ' side-menu__item--active' if page_url == '/program/gymnasiesarskolan' }}">
		Gymnasiesärskolan
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/gymnasiesarskolan/poangplan" class="side-menu__item{{ ' side-menu__item--active' if page_url == '/program/gymnasiesarskolan/poangplan' }}">
		Poängplan
	</a>
</div>
