@import "mixins";

.program {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: inherit;

	&:focus {
		outline: none;
		text-decoration: underline;
	}
}

.program__image {
	object-fit: cover;
	height: 155px;
}

.program__title {
	margin: 12px 0;
	font-size: 24px;
	position: relative;
	text-align: center;
	@include serif();
	align-self: center;
}

.program__title:after {
	content: "";
	position: absolute;
	right: 0;
	bottom: -2px;
	left: 0;
	height: 1px;
	background: #eee;
	opacity: .8;
}
