@import "mixins";

.title {
	@include serif();
	font-size: 40px;
}

.text {
	color: #6A6563;
	font-weight: 300;
	width: 100%;
	max-width: 700px;
	font-style: normal;
	font-size: 21px;
	line-height: 1.58;
	letter-spacing: -.003em;

	@media (max-width: 600px) {
		font-size: 18px;
	}
}

.text-wrapper {
	width: 100%;
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
}
