<div class="side-menu">
	<div class="side-menu__title title">Mer info</div>

	<div class="side-menu__break"></div>
	<a href="/program/samhallsvetenskap/samhallsvetenskap" class="side-menu__item">
		Inriktning Samhällsvetenskap
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/samhallsvetenskap/beteendevetenskap" class="side-menu__item">
		Inriktning Beteendevetenskap
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/samhallsvetenskap/poangplan" class="side-menu__item">
		Poängplan
	</a>

	<div class="side-menu__break"></div>
	<div class="side-menu__divider"></div>
	<div class="side-menu__break"></div>

	<a href="/program/estet" class="side-menu__item">
		Musik, Bild och formgivning eller Teater
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/aspergers" class="side-menu__item">
		För elever med ASD/Aspergers syndrom
	</a>
</div>
