{% set page_url = '/' %}

{% extends "../templates/default.html" %}

{% block content %}
	<section class="slides">
		<div class="slide slide--active">
			<div class="slide__img slide__img--no-blur" style="background-image: url('/images/IMG_6438.jpg');"></div>

			<div class="slide__content">
				<span class="title slide__title">
					Ambition, engagemang
					<br>
					och gemenskap
				</span>
			</div>
		</div>

		<div class="slide">
			<div class="slide__img" style="background-image: url('/images/IMG_2881.jpeg');"></div>

			<div class="slide__content">
				<span class="title slide__title">
					S16b hälsar från romme
				</span>

				<a href="/nyheter/s16b-halsar-fran-romme" class="button">Läs mer</a>
			</div>
		</div>

		<div class="slide">
			<div class="slide__img" style="background-image: url('/images/DSC_1060.jpeg');"></div>

			<div class="slide__content">
				<span class="title slide__title">
					Dagys teaterelever agerade på IKEAs event
				</span>

				<a href="/nyheter/dagys-teaterelever-agerade-pa-ikeas-event" class="button">Läs mer</a>
			</div>
		</div>

		<div class="slides__list">
			<div class="slides__item slides__item--active" tabindex="0">
				Ambition, engagemang
				<br>
				och gemenskap
			</div>

			<div class="slides__item" tabindex="0">
				S16b hälsar från romme
			</div>

			<div class="slides__item" tabindex="0">
				Dagys teaterelever agerade på IKEAs event
			</div>
		</div>

		<div class="slides__buttons">
			<button class="slides__button" aria-label="Föregående">
				<img class="slides__button-image" src="/images/icons/chevron_left.svg" aria-hidden="true">
			</button>

			<button class="slides__button" aria-label="Nästa">
				<img class="slides__button-image" src="/images/icons/chevron_right.svg" aria-hidden="true">
			</button>
		</div>

		<div class="slides__progress"></div>
	</section>
	<script defer src="/scripts/slides.js"></script>

	<section class="content">
		<div class="title">Nyheter</div>

		<div class="grid">

			<a href="/nyheter/s16b-halsar-fran-romme" class="card grid__item">
				<div class="card__image" style="background-image: url('/images/IMG_2881.jpeg');"></div>
				<span class="card__date">9 februari 2017</span>
				<div class="card__title">
					S16b hälsar från romme
				</div>
			</a>

			<a href="/nyheter/dagys-teaterelever-agerade-pa-ikeas-event" class="card grid__item">
				<div class="card__image" style="background-image: url('/images/DSC_1060.jpeg');"></div>
				<span class="card__date">2 februari 2017</span>
				<div class="card__title">
					Dagys teaterelever agerade på IKEAs event
				</div>
			</a>

			<a href="/nyheter/matilda-algotsson-basta-svenska-i-konstaknings-em-2017" class="card grid__item">
				<div class="card__image" style="background-image: url('/images/konstakning.jpeg');"></div>
				<span class="card__date">24 januari 2017</span>
				<div class="card__title">
					Matilda Algotsson bästa svenska i konståknings EM 2017
				</div>
			</a>
		</div>
	</section>

	<section class="content">
		<div class="title">Program</div>

		<div class="grid">
			<a href="/program/naturvetenskap" class="program grid__item">
				<div class="program__image" style="background-image: url('/images/rtzw4f02zy8-nasa.png');"></div>
				<div class="program__title">Naturvetenskap</div>
			</a>

			<a href="/program/ekonomi" class="program grid__item">
				<div class="program__image" style="background-image: url('/images/16124218_455844131427852_8435288921503432704_n.jpg');"></div>
				<div class="program__title">Ekonomi</div>
			</a>

			<a href="/program/samhallsvetenskap" class="program grid__item">
				<div class="program__image" style="background-image: url('/images/vq__yk6faoi-claire-anderson.png');"></div>
				<div class="program__title">Samhällsvetenskap</div>
			</a>
		</div>

		<div class="grid">
			<a href="/program/teknik" class="program grid__item">
				<div class="program__image" style="background-image: url('/images/d7czyewzyzc-ricardo-gomez-angel.png');"></div>
				<div class="program__title">Teknik</div>
			</a>

			<a href="/program/gymnasiesarskolan" class="program grid__item">
				<div class="program__image" style="background-image: url('/images/xpt4_hgzsjw-alex-robert.png');"></div>
				<div class="program__title">Gymnasiesärskolan</div>
			</a>

			<a href="/program/sprakintroduktion" class="program grid__item">
				<div class="program__image" style="background-image: url('/images/082dcxnkfxu-alex-read.png');"></div>
				<div class="program__title">Språkintroduktion</div>
			</a>
		</div>
	</section>

	<section class="message">
		<div class="message__title title">Studera på Dagy</div>

		<p class="message__text">
			Du som önskar plats i årskurs 1, 2 eller 3
		</p>

		<a href="/soka-hit" class="button">Ansök nu</a>
	</section>
{% endblock %}
