{% set page_url = '/' %}

{% extends "../templates/default.html" %}

{% block content %}
	<section class="slides">
		<div class="slide slide--active">
			<div class="slide__img" style="background-image: url('/images/student_1.jpg');"></div>

			<div class="slide__content">
				<span class="title slide__title">
					Öppet hus på Dagy
					<br>
					7 februari
				</span>

				<a href="/nyheter/oppet-hus-pa-dagy" class="button">Läs mer</a>
			</div>
		</div>

		<div class="slide">
			<div class="slide__img" style="background-image: url('/images/SMT Final 2016 Vinnare_1.jpg');"></div>

			<div class="slide__content">
				<span class="title slide__title">
					Första plats i Skolornas
					<br>
					Matematiktävling
				</span>

				<a href="/nyheter/forsta-plats-i-skolornas-matematiktavling" class="button">Läs mer</a>
			</div>
		</div>

		<div class="slides__list">
			<div class="slides__item slides__item--active" tabindex="0">
				Öppet hus på Dagy
				<br>
				7 februari
			</div>

			<div class="slides__item" tabindex="0">
				Första plats i Skolornas
				<br>
				Matematiktävling
			</div>
		</div>

		<div class="slides__buttons">
			<button class="slides__button" aria-label="Föregående">
				<img class="slides__button-image" src="/images/icons/chevron_left.svg" aria-hidden="true">
			</button>

			<button class="slides__button" aria-label="Nästa">
				<img class="slides__button-image" src="/images/icons/chevron_right.svg" aria-hidden="true">
			</button>
		</div>

		<div class="slides__progress"></div>
	</section>
	<script defer src="/scripts/slides.js"></script>

	<section class="content">
		<div class="title">Nyheter</div>

		<div class="grid">

			<a href="/nyheter/forsta-plats-i-skolornas-matematiktavling" class="card grid__item">
				<img class="card__image" src="/images/SMT Final 2016 Vinnare_1.jpg">
				<span class="card__date">23 januari 2017</span>
				<div class="card__title">
					Första plats i Skolornas
					Matematiktävling
				</div>
			</a>

			<a href="/nyheter/forelasning-med-entreprenoren-karoline-kull" class="card grid__item">
				<img class="card__image" src="/images/Karolin Kull affisch beskuren_1.jpg">
				<span class="card__date">28 november 2016</span>
				<div class="card__title">
					Föreläsning med
					entreprenören Karoline Kull
				</div>
			</a>

		</div>
	</section>

	<section class="content">
		<div class="title">Program</div>

		<div class="grid">
			<a href="/program/naturvetenskap" class="program grid__item">
				<img class="program__image" src="/images/rtzw4f02zy8-nasa.png">
				<div class="program__title">Naturvetenskap</div>
			</a>

			<a href="/program/ekonomi" class="program grid__item">
				<img class="program__image" src="/images/zkvbm2_dp84-didier-weemaels.png">
				<div class="program__title">Ekonomi</div>
			</a>

			<a href="/program/samhallsvetenskap" class="program grid__item">
				<img class="program__image" src="/images/vq__yk6faoi-claire-anderson.png">
				<div class="program__title">Samhällsvetenskap</div>
			</a>
		</div>

		<div class="grid">
			<a href="/program/teknik" class="program grid__item">
				<img class="program__image" src="/images/d7czyewzyzc-ricardo-gomez-angel.png">
				<div class="program__title">Teknik</div>
			</a>

			<a href="/program/gymnasiesarskolan" class="program grid__item">
				<img class="program__image" src="/images/xpt4_hgzsjw-alex-robert.png">
				<div class="program__title">Gymnasiesärskolan</div>
			</a>

			<a href="/program/spraktintroduktion" class="program grid__item">
				<img class="program__image" src="/images/082dcxnkfxu-alex-read.png">
				<div class="program__title">Språkintroduktion</div>
			</a>
		</div>
	</section>

	<section class="message">
		<div class="message__title title">Studera på Dagy</div>

		<p class="message__text">
			Du som önskar plats i årskurs 1, 2 eller 3
		</p>

		<a href="/soka-hit" class="button">Ansök nu</a>
	</section>
{% endblock %}
