{% set page_url = '/nyheter' %}

{% extends "../templates/default.html" %}

{% block content %}
	<section class="banner">
		<div class="banner__img" style="background-image: url('/images/xitfeni0dmy-patrik-gothe.png');"></div>

		<div class="banner__content content">
			<div class="banner__title title">Nyheter</div>
			<p class="banner__text">
			</p>
		</div>
	</section>

	<section class="content">
		<a href="/nyheter/forsta-plats-i-skolornas-matematiktavling" class="news-item">
			<div class="news-item__image" style="background-image: url('/images/SMT_Final_2016_Vinnare_1.jpg');"></div>

			<div>
				<div class="news-item__title">
					Första plats i Skolornas
					Matematiktävling
				</div>
				<p class="news-item__text">
					Grattis till David Wärn som även i år segrade i Skolornas Matematiktävling med full poäng (42). Grattis till Nicole Hedblom N14a som kom på fjärde plats.
				</p>

				<div class="label">
					<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
					23 januari 2017
				</div>
			</div>
		</a>

		<a href="/nyheter/spannande-samtal-med-mr-david-cairns-british-ambassador-to-sweden-pa-dagy" class="news-item">
			<div class="news-item__image" style="background-image: url('/images/smaller-2017-02-07T14-00-25.041Z.jpeg');"></div>

			<div>
				<div class="news-item__title">
					Spännande samtal med Mr David Cairns,
					<br>
					British Ambassador to Sweden, på Dagy
				</div>
				<p class="news-item__text">
					Idag fick drygt 100 elever på DaGy - som läser En6 och En7 - möjlighet att träffa Mr David Cairns the British Ambassador to Sweden and the FCO’s Director for the Nordic Baltic Region. Under en timme bevarade han elevernas många intressanta frågor.
				</p>

				<div class="label">
					<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
					18 januari 2017
				</div>
			</div>
		</a>

		<a href="/nyheter/reportage-om-uf-foretaget-together-active-uf-i-danderyds-nyheter" class="news-item">
			<div class="news-item__image" style="background-image: url('/images/Dn-49-2016 - Flashpublisher 2.png');"></div>

			<div>
				<div class="news-item__title">
					Reportage om UF-företaget
					<br>
					Together Active UF i Danderyds nyheter
				</div>
				<p class="news-item__text">
					Tidningen skriver om "företagsamhet på språng" eftersom Together Active UF utvecklar en träningsapp där du både kan skapa och ansluta dig till träningsaktiviteter nära dig.
				</p>

				<div class="label">
					<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
					17 december 2016
				</div>
			</div>
		</a>

		<a href="/nyheter/juridikstuderande-forelaser-om-de-juridiska-instanserna-i-gamla-stan" class="news-item">
			<div class="news-item__image" style="background-image: url('/images/smaller-2017-02-07T13-46-42.127Z.jpeg');"></div>

			<div>
				<div class="news-item__title">
					Juridikstuderande föreläser om de juridiska
					<br>
					instanserna i Gamla stan
				</div>
				<p class="news-item__text">

				</p>

				<div class="label">
					<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
					12 december 2016
				</div>
			</div>
		</a>

		<a href="/nyheter/uf-massa-i-morby-c" class="news-item">
			<div class="news-item__image" style="background-image: url('/images/IMG_1718-uf-morby.jpg');"></div>

			<div>
				<div class="news-item__title">
					UF-mässa i Mörby C
				</div>
				<p class="news-item__text">
					Den 8 december var 40 UF-företag från Dagy i Mörby centrum för att sälja och visa upp sina varor & tjänster på årets Julmarknad. Kunderna hade möjlighet att köpa allt från smycken, drinkväktare & elektronik till hemlagad chokladkräm & granola.
				</p>

				<div class="label">
					<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
					8 december 2016
				</div>
			</div>
		</a>

		<div class="pagination">
			<a href="/nyheter" class="pagination__item pagination__item--active">1</a>
			<a href="/nyheter/2" class="pagination__item">2</a>
			<a href="/nyheter/3" class="pagination__item">3</a>
			<a href="/nyheter/2" class="pagination__item">
			 	Nästa
			 	<img class="icon" src="/images/icons/right.svg" aria-hidden="true">
			</a>
		</div>
	</section>
{% endblock %}
