{% set page_url = '/program' %}

{% extends "../templates/default.html" %}

{% block content %}
	<section class="banner">
		<div class="banner__img" style="background-image: url('/images/y0fa1dekoks-samuel-zeller.png');"></div>

		<div class="banner__content content">
			<div class="banner__title title">Program</div>
			<p class="banner__text">
				Sit nam cum aliquid et quas voluptatum earum ea veritatis. Id nihil excepturi facilis iure!
			</p>
		</div>
	</section>

	<section class="content">
		<div class="title">Program</div>

		<div class="grid">
			<a href="/program/naturvetenskap" class="program grid__item">
				<img class="program__image" src="/images/rtzw4f02zy8-nasa.png">
				<div class="program__title">Naturvetenskap</div>
			</a>

			<a href="/program/ekonomi" class="program grid__item">
				<img class="program__image" src="/images/zkvbm2_dp84-didier-weemaels.png">
				<div class="program__title">Ekonomi</div>
			</a>

			<a href="/program/samhallsvetenskap" class="program grid__item">
				<img class="program__image" src="/images/vq__yk6faoi-claire-anderson.png">
				<div class="program__title">Samhällsvetenskap</div>
			</a>
		</div>

		<div class="grid">
			<a href="/program/teknik" class="program grid__item">
				<img class="program__image" src="/images/d7czyewzyzc-ricardo-gomez-angel.png">
				<div class="program__title">Teknik</div>
			</a>

			<a href="/program/gymnasiesarskolan" class="program grid__item">
				<img class="program__image" src="/images/xpt4_hgzsjw-alex-robert.png">
				<div class="program__title">Gymnasiesärskolan</div>
			</a>

			<a href="/program/spraktintroduktion" class="program grid__item">
				<img class="program__image" src="/images/082dcxnkfxu-alex-read.png">
				<div class="program__title">Språkintroduktion</div>
			</a>
		</div>
	</section>

	<section class="content">
		<div class="title">Specialiseringar</div>

		<div class="grid">
			<a href="/program/matematik-spets" class="program grid__item">
				<img class="program__image" src="/images/5mz_m06fc9g-roman-mager.png">
				<div class="program__title">Matematik spetsutbildning</div>
			</a>

			<a href="/program/fotboll" class="program grid__item">
				<img class="program__image" src="/images/uvrpmz1atvg-markus-spiske.png">
				<div class="program__title">Nationell idrottsutbildning fotboll</div>
			</a>

			<a href="/program/aspergers" class="program grid__item">
				<img class="program__image" src="/images/student_1.jpg">
				<div class="program__title">För elever med ASD/Aspergers syndrom</div>
			</a>
		</div>
	</section>
{% endblock %}
