{% set page_url = '/soka-hit' %}

{% extends "../templates/default.html" %}

{% block content %}
	<section class="banner">
		<div class="banner__img" style="background-image: url('/images/czhuxiqjilg-alejandro-escamilla.png');"></div>

		<div class="banner__content content">
			<div class="banner__title title">Söka hit</div>
			<p class="banner__text">
			</p>
		</div>
	</section>

	<section class="content">
		<div class="text-wrapper">
			<div class="title">För Åk 9</div>
			<p class="text">
				Vad roligt att du är intresserad av Danderyds Gymnasium! För att söka till oss gå in på  <a class="anchor" href="http://www.gyantagningen.se/">http://www.gyantagningen.se/</a>  Där hittar du all information om hur du gör din ansökan till oss. Om du har några frågor om våra program eller om vår skola är du välkommen att kontakta oss. Har du frågor om antagningsprov till våra särskilda varianter, SA/NA -Musik, Bild, Teater <a class="anchor" href="/program/estet">klicka här</a>. Är du intresserad av NIU-fotboll <a class="anchor" href="/program/fotboll">klicka här</a>.Är du intresserad av Spetsutbildningen i Matematik
				<a class="anchor" href="/program/matematik-spets">klicka här</a>.
			</p>

			<div class="title">Byt till Åk 2 eller 3</div>
			<p class="text">
				Går du på ett annat gymnasium men vill byta skola till oss? <a class="anchor" href="/assets/Ansökan om Utbildningsplats.pdf">Klicka här för att ladda ner en ansökningsblankett</a>. Glöm inte att bifoga bilagor enligt instruktionerna på ansökningsblanketten
			</p>

		</div>
	</section>
{% endblock %}
