{% set page_url = '/soka-hit' %}

{% extends "../templates/default.html" %}

{% block content %}
	<section class="banner">
		<div class="banner__img" style="background-image: url('/images/czhuxiqjilg-alejandro-escamilla.png');"></div>

		<div class="banner__content content">
			<div class="banner__title title">Söka hit</div>
			<p class="banner__text">
				Adipisicing ad doloribus sed numquam nesciunt? Iste quia a quis?
			</p>
		</div>
	</section>

	<section class="content">
		<div class="text-wrapper">
			<div class="title">För Åk 9</div>

			<p class="text">
				Consectetur officiis vel blanditiis exercitationem amet quia corrupti saepe saepe facere sequi omnis obcaecati? Quos eligendi illo architecto minus ea necessitatibus. Repellendus dignissimos odit fuga dolorum reprehenderit quasi? Nam minus natus impedit perferendis facere consequuntur magni. Iure eveniet quaerat quo labore illum sit, inventore? Vitae quisquam dolorem quisquam praesentium ipsa!
			</p>

			<p class="text">
				Adipisicing ipsa reiciendis velit deserunt ex, sequi! Hic eum id dolor doloribus enim suscipit a. Ratione facere laboriosam omnis facilis voluptates. Atque hic possimus itaque ratione voluptate quae saepe. Odit veniam eveniet sequi magni est debitis. Vitae itaque mollitia harum sequi similique facere officiis. Adipisci doloremque iure magnam error laborum.
			</p>

			<div class="title">Byt till Åk 2 eller 3</div>

			<p class="text">
				Amet facere repudiandae vero ab vitae sint harum. Esse provident assumenda voluptates voluptates maiores eligendi sed. Soluta quo distinctio libero cum repellat perferendis iusto. Quo beatae cumque eius doloremque sit officia. Accusamus exercitationem sit laboriosam blanditiis saepe, numquam necessitatibus est iusto quasi culpa? Quibusdam recusandae ipsum architecto ad nisi eligendi.
			</p>

			<p class="text">
				Consectetur incidunt quasi perspiciatis rerum vitae! Doloremque fugiat magni nam aliquam voluptatum sed consequatur veritatis quasi. Quos officia fugit odit aut beatae ut voluptate culpa dignissimos dolor nesciunt dolores aut consequatur! Fuga suscipit excepturi quam porro similique autem. Animi amet quidem nam nam illo atque animi nemo nemo itaque amet!
			</p>
		</div>
	</section>
{% endblock %}
