<div class="side-menu">
	<div class="side-menu__title title">Mer info</div>

	<div class="side-menu__break"></div>
	<a href="/program/matematik-spets" class="side-menu__item{{ ' side-menu__item--active' if page_url == '/program/matematik-spets' }}">
		Matematik spetsutbildning
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/matematik-spets/mattegodis" class="side-menu__item{{ ' side-menu__item--active' if page_url == '/program/matematik-spets/mattegodis' }}">
		Mattegodis
	</a>
	<div class="side-menu__break"></div>
	<a href="/program/matematik-spets/poangplan" class="side-menu__item{{ ' side-menu__item--active' if page_url == '/program/matematik-spets/poangplan' }}">
		Poängplan
	</a>

	<div class="side-menu__break"></div>
	<div class="side-menu__divider"></div>
	<div class="side-menu__break"></div>

	<a href="/program/naturvetenskap" class="side-menu__item">
		Naturvetenskapsprogrammet
	</a>
</div>
