{% set page_url = '/nyheter' %}

{% extends "../templates/default.html" %}

{% block content %}
	<section class="banner">
		<div class="banner__img" style="background-image: url('/images/xitfeni0dmy-patrik-gothe.png');"></div>

		<div class="banner__content content">
			<div class="banner__title title">Nyheter</div>
			<p class="banner__text">
			</p>
		</div>
	</section>

	<section class="content">
		<a href="/nyheter/reportage-om-uf-foretaget-together-active-uf-i-danderyds-nyheter" class="news-item">
			<div class="news-item__image" style="background-image: url('/images/Dn-49-2016-Flashpublisher2.png');"></div>

			<div>
				<div class="news-item__title">
					Reportage om UF-företaget
					<br>
					Together Active UF i Danderyds nyheter
				</div>
				<p class="news-item__text">
					Tidningen skriver om "företagsamhet på språng" eftersom Together Active UF utvecklar en träningsapp där du både kan skapa och ansluta dig till träningsaktiviteter nära dig.
				</p>

				<div class="label">
					<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
					17 december 2016
				</div>
			</div>
		</a>

		<a href="/nyheter/juridikstuderande-forelaser-om-de-juridiska-instanserna-i-gamla-stan" class="news-item">
			<div class="news-item__image" style="background-image: url('/images/smaller-2017-02-07T13-46-42.127Z.jpeg');"></div>

			<div>
				<div class="news-item__title">
					Juridikstuderande föreläser om de juridiska
					<br>
					instanserna i Gamla stan
				</div>
				<p class="news-item__text">

				</p>

				<div class="label">
					<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
					12 december 2016
				</div>
			</div>
		</a>

		<a href="/nyheter/uf-massa-i-morby-c" class="news-item">
			<div class="news-item__image" style="background-image: url('/images/IMG_1718-uf-morby.jpg');"></div>

			<div>
				<div class="news-item__title">
					UF-mässa i Mörby C
				</div>
				<p class="news-item__text">
					Den 8 december var 40 UF-företag från Dagy i Mörby centrum för att sälja och visa upp sina varor & tjänster på årets Julmarknad. Kunderna hade möjlighet att köpa allt från smycken, drinkväktare & elektronik till hemlagad chokladkräm & granola.
				</p>

				<div class="label">
					<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
					8 december 2016
				</div>
			</div>
		</a>

		<a href="/nyheter/forelasning-med-entreprenoren-karoline-kull" class="news-item">
			<div class="news-item__image" style="background-image: url('/images/Karolin_Kull_affisch_beskuren_1.jpg');"></div>

			<div>
				<div class="news-item__title">
					Föreläsning med
					entreprenören Karoline Kull
				</div>
				<p class="news-item__text">
					Dagys ekonomielever fyllde aulan fredagen 25/11 då de fick ta del av hur entreprenören Karoline Kull, grundaren av Mathem, på åtta år byggt upp ett företag med 1000 anställda, massor med nöjda kunder och ett marknadsvärde på nästan två miljarder.
				</p>

				<div class="label">
					<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
					28 november 2016
				</div>
			</div>
		</a>

		<a href="/nyheter/dagy-pa-plats-pa-gymnasiemassan-i-alvsjo" class="news-item">
			<div class="news-item__image" style="background-image: url('/images/14712927_1572784792739040_8815257292240125715_o.jpg');"></div>

			<div>
				<div class="news-item__title">
					Dagy på plats på gymnasiemässan i Älvsjö
				</div>
				<p class="news-item__text">
					Du som besöker gymnasiemässan i Älvsjö mellan den 23 och 25 november är varmt välkommen att komma och träffa våra duktiga DaGy-ambassadörer i montern.
				</p>

				<div class="label">
					<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
					23 november 2016
				</div>
			</div>
		</a>

		<div class="pagination">
			<a href="/nyheter" class="pagination__item">
			 	<img class="icon" src="/images/icons/left.svg" aria-hidden="true">
				Föregående
			</a>
			<a href="/nyheter" class="pagination__item">1</a>
			<a href="/nyheter/2" class="pagination__item pagination__item--active">2</a>
			<a href="/nyheter/3" class="pagination__item">3</a>
			<a href="/nyheter/3" class="pagination__item">
			 	Nästa
			 	<img class="icon" src="/images/icons/right.svg" aria-hidden="true">
			</a>
		</div>
	</section>
{% endblock %}
