{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<div class="content cover" style="background-image: url('/images/DSC_1060.jpeg');"></div>

	<section class="content">
		<div class="text-wrapper">
			<div class="title">Dagys teaterelever agerade på IKEAs event</div>

			<div class="label">
				<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
				2 februari 2017
			</div>

			<p class="text">
				Teatereleverna från årskurserna 1, 2 och 3 agerar i IKEAS event: världslanseringen av den nya kollektionen LIVE IT.
			</p>
		</div>
	</section>

	<section class="pagination__wrapper">
		<a href="/nyheter/estetelever-staller-ut-pa-lilla-varsalongen" class="pagination">
			<img class="icon icon--large" src="/images/icons/left.svg" aria-hidden="true">

			<div class="pagination__left">
				<div class="pagination__subtitle">Nästa nyhet</div>
				<div class="pagination__title">Estetelever ställer ut på Lilla vårsalongen</div>
			</div>
		</a>

		<div class="pagination__spacer"></div>

		<a href="/nyheter/matilda-algotsson-basta-svenska-i-konstaknings-em-2017" class="pagination">
			<div class="pagination__right">
				<div class="pagination__subtitle">Föregående nyhet</div>
				<div class="pagination__title">Matilda Algotsson bästa svenska i konståknings EM 2017</div>
			</div>

			<img class="icon icon--large" src="/images/icons/right.svg" aria-hidden="true">
		</a>
	</section>
{% endblock %}
