{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<div class="content cover" style="background-image: url('/images/15035780_245168859231316_5614658442225516544_n.jpg');"></div>

	<section class="content">
		<div class="text-wrapper">
			<div class="title">Dagy på plats på DANTE-mässan</div>

			<div class="label">
				<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
				19 november 2016
			</div>

			<p class="text">
				Vi vill börja med att tacka alla besökare på Expedition Dante, en gymnasiemässan med flera skolor från Täby och Danderyd, som i år gick av stapeln i Täby Racketcenter. Vi ser fram emot att hälsa er välkomna på DaGYs Öppet Hus onsdag den 23 november och tisdagen den 7 februari. Stort tack även till alla elever som deltog och berättade om vår skola och den utbildning ni får.
			</p>

		</div>
	</section>

	<section class="pagination__wrapper">
		<a href="/nyheter/unga-kris-forelaste-for-eleverna-pa-ekonomi-programmets-inriktning-juridik" class="pagination">
			<img class="icon icon--large" src="/images/icons/left.svg" aria-hidden="true">

			<div class="pagination__left">
				<div class="pagination__subtitle">Nästa nyhet</div>
				<div class="pagination__title">Unga Kris föreläste för eleverna på Ekonomi programmets inriktning Juridik</div>
			</div>
		</a>

		<div class="pagination__spacer"></div>

		<a href="/nyheter/till-strasbourg-med-juridikklasserna" class="pagination">
			<div class="pagination__right">
				<div class="pagination__subtitle">Föregående nyhet</div>
				<div class="pagination__title">
					Till Strasbourg med juridikklasserna!
				</div>
			</div>

			<img class="icon icon--large" src="/images/icons/right.svg" aria-hidden="true">
		</a>
	</section>
{% endblock %}
