{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<div class="content cover" style="background-image: url('/images/14716433_321198488243629_8099338009834422272_n.jpg');"></div>

	<section class="content">
		<div class="text-wrapper">
			<div class="title">Eleverna på Ekonomiprogrammets globala profil på studieresa i Berlin</div>

			<div class="label">
				<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
				21 oktober 2016
			</div>

			<p class="text">
				Vecka 42 besökte eleverna i E14e, Ekonomiprogrammets globala profil, Berlin. Studiebesöken har koppling till kurserna Företagsekonomisk specialisering och Politik och hållbar utveckling. Det var ett mycket givande och späckat program med besök på Vattenfall, Business Sweden, Der Verbraucher Initiativ, Bauhaus Design Museum och Wall Memorial.
			</p>

		</div>
	</section>

	<section class="pagination__wrapper">
		<a href="/nyheter/till-strasbourg-med-juridikklasserna" class="pagination">
			<img class="icon icon--large" src="/images/icons/left.svg" aria-hidden="true">

			<div class="pagination__left">
				<div class="pagination__subtitle">Nästa nyhet</div>
				<div class="pagination__title">Till Strasbourg med juridikklasserna!</div>
			</div>
		</a>

		<div class="pagination__spacer"></div>

		<a href="/nyheter/s15b-byter-klassrum-mot-kavlugnt-vatten" class="pagination">
			<div class="pagination__right">
				<div class="pagination__subtitle">Föregående nyhet</div>
				<div class="pagination__title">
					S15b byter klassrum mot kavlugnt vatten
				</div>
			</div>

			<img class="icon icon--large" src="/images/icons/right.svg" aria-hidden="true">
		</a>
	</section>
{% endblock %}
