{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<div class="content cover" style="background-image: url('/images/ST_20170204_1-015.jpg');"></div>

	<section class="content">
		<div class="text-wrapper">
			<div class="title"></div>

			<div class="label">
				<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
				9 februari 2017
			</div>

			<p class="text">
				Estetettornas bildelever Julia Ulug och Astrid Lönngren blev antagna
				till Lilla vårsalongen det här året. Grattis.
			</p>

			<p class="text">
				<a class="anchor" href="http://www.stockholmdirekt.se/nyheter/16-ariga-julias-teckning-stalls-ut-av-liljevalchs/repqaD!zUatriFmYUeaGtMGjmvS1g/">
					Intervju med Julia Ulug i Spånga Tidning
				</a>
			</p>

			<img class="text" src="/images/IMG_1125_1.jpg" alt="Astrid Lönngren">
		</div>
	</section>

	<section class="pagination__wrapper">
		<div class="pagination__spacer"></div>

		<a href="/nyheter/dagys-teaterelever-agerade-pa-ikeas-event" class="pagination">
			<div class="pagination__right">
				<div class="pagination__subtitle">Föregående nyhet</div>
				<div class="pagination__title">Dagys teaterelever agerade på IKEAs event</div>
			</div>

			<img class="icon icon--large" src="/images/icons/right.svg" aria-hidden="true">
		</a>
	</section>
{% endblock %}
