{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<div class="content cover" style="background-image: url('/images/Karolin_Kull_affisch_beskuren_1.jpg');"></div>

	<section class="content">
		<div class="text-wrapper">
			<div class="title">Föreläsning med entreprenören Karoline Kull</div>

			<div class="label">
				<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
				23 januari 2017
			</div>

			<p class="text">
				DaGys ekonomielever fyllde aulan fredagen 25/11 då de fick ta del av hur entreprenören Karoline Kull, grundaren av Mathem, på åtta år byggt upp ett företag med 1000 anställda, massor med nöjda kunder och ett marknadsvärde på nästan två miljarder.
				Allt sprunget ur en affärsidé som byggde på hennes egna dåliga erfarenheter av att behöva lägga ned tid och kraft på jobbiga matinköp när hon var en småbarnsmor.
			</p>

			<img src="/images/Mathem medium_1.jpg" alt="Föreläsning i aulan">
		</div>
	</section>

	<section class="pagination__wrapper">
		<a href="/nyheter/forsta-plats-i-skolornas-matematiktavling" class="pagination">
			<img class="icon icon--large" src="/images/icons/left.svg" aria-hidden="true">

			<div class="pagination__left">
				<div class="pagination__subtitle">Föregående nyhet</div>
				<div class="pagination__title">Första plats i Skolornas Matematiktävling</div>
			</div>
		</a>

		<div class="pagination__spacer"></div>

<!-- 		<a href="/nyheter/forelasning-med-entreprenoren-karoline-kull" class="pagination"> -->
<!-- 			<div class="pagination__right"> -->
<!-- 				<div class="pagination__subtitle">Föregående nyhet</div> -->
<!-- 				<div class="pagination__title"> -->
<!-- 					Föreläsning med entreprenören Karoline Kull -->
<!-- 				</div> -->
<!-- 			</div> -->

<!-- 			<img class="icon icon--large" src="/images/icons/right.svg" aria-hidden="true"> -->
<!-- 		</a> -->
	</section>
{% endblock %}
