{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<img class="content cover" src="/images/student_1.jpg" alt="Öppet hus på Dagy">

	<section class="content">
		<div class="text-wrapper">
			<div class="title">Öppet hus på Dagy 7 februari</div>

			<div class="label">
				<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
				17 januari 2017
			</div>

			<p class="text">
				Consectetur officiis vel blanditiis exercitationem amet quia corrupti saepe saepe facere sequi omnis obcaecati? Quos eligendi illo architecto minus ea necessitatibus. Repellendus dignissimos odit fuga dolorum reprehenderit quasi? Nam minus natus impedit perferendis facere consequuntur magni. Iure eveniet quaerat quo labore illum sit, inventore? Vitae quisquam dolorem quisquam praesentium ipsa!
			</p>

			<p class="text">
				Adipisicing ipsa reiciendis velit deserunt ex, sequi! Hic eum id dolor doloribus enim suscipit a. Ratione facere laboriosam omnis facilis voluptates. Atque hic possimus itaque ratione voluptate quae saepe. Odit veniam eveniet sequi magni est debitis. Vitae itaque mollitia harum sequi similique facere officiis. Adipisci doloremque iure magnam error laborum.
			</p>

			<span class="title">Foo bar asd</span>

			<p class="text">
				Amet facere repudiandae vero ab vitae sint harum. Esse provident assumenda voluptates voluptates maiores eligendi sed. Soluta quo distinctio libero cum repellat perferendis iusto. Quo beatae cumque eius doloremque sit officia. Accusamus exercitationem sit laboriosam blanditiis saepe, numquam necessitatibus est iusto quasi culpa? Quibusdam recusandae ipsum architecto ad nisi eligendi.
			</p>

			<p class="text">
				Consectetur incidunt quasi perspiciatis rerum vitae! Doloremque fugiat magni nam aliquam voluptatum sed consequatur veritatis quasi. Quos officia fugit odit aut beatae ut voluptate culpa dignissimos dolor nesciunt dolores aut consequatur! Fuga suscipit excepturi quam porro similique autem. Animi amet quidem nam nam illo atque animi nemo nemo itaque amet!
			</p>
		</div>
	</section>

	<section class="pagination__wrapper">
		<a href="#" class="pagination">
			<img class="icon icon--large" src="/images/icons/left.svg" aria-hidden="true">

			<div class="pagination__left">
				<div class="pagination__subtitle">Föregående nyhet</div>
				<div class="pagination__title">Första plats i Skolornas Matematiktävling</div>
			</div>
		</a>

		<div class="pagination__spacer"></div>

		<a href="#" class="pagination">
			<div class="pagination__right">
				<div class="pagination__subtitle">Föregående nyhet</div>
				<div class="pagination__title">Första plats i Skolornas Matematiktävling</div>
			</div>

			<img class="icon icon--large" src="/images/icons/right.svg" aria-hidden="true">
		</a>
	</section>
{% endblock %}
