{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<div class="content cover" style="background-image: url('/images/Dn-49-2016 - Flashpublisher 2.png');"></div>

	<section class="content">
		<div class="text-wrapper">
			<div class="title">Reportage om UF-företaget Together Active UF i Danderyds nyheter</div>

			<div class="label">
				<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
				17 december 2016
			</div>

			<p class="text">
				Tidningen skriver om "företagsamhet på språng" eftersom Together Active UF utvecklar en träningsapp där du både kan skapa och ansluta dig till träningsaktiviteter nära dig.
			</p>

			<p class="text">
				Se artikel i
				<a href="http://pdf.direktpress.se/flashpublisher/magazine/15975" class="anchor">
					Danderyds Nyheter
				</a>
			</p>

		</div>
	</section>

	<section class="pagination__wrapper">
		<a href="/nyheter/spannande-samtal-med-mr-david-cairns-british-ambassador-to-sweden-pa-dagy" class="pagination">
			<img class="icon icon--large" src="/images/icons/left.svg" aria-hidden="true">

			<div class="pagination__left">
				<div class="pagination__subtitle">Nästa nyhet</div>
				<div class="pagination__title">Spännande samtal med Mr David Cairns, British Ambassador to Sweden, på Dagy</div>
			</div>
		</a>

		<div class="pagination__spacer"></div>

 		<a href="/nyheter/juridikstuderande-forelaser-om-de-juridiska-instanserna-i-gamla-stan" class="pagination">
 			<div class="pagination__right">
 				<div class="pagination__subtitle">Föregående nyhet</div>
 				<div class="pagination__title">
					Juridikstuderande föreläser om de juridiska	instanserna i Gamla stan
 				</div>
 			</div>

 			<img class="icon icon--large" src="/images/icons/right.svg" aria-hidden="true">
 		</a>
	</section>
{% endblock %}
