{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<div class="content cover" style="background-image: url('/images/smaller-2017-02-07T12-24-54.453Z.jpeg');"></div>

	<section class="content">
		<div class="text-wrapper">
			<div class="title">S15b byter klassrum mot kavlugnt vatten</div>

			<div class="label">
				<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
				25 augusti 2016
			</div>

			<p class="text">
				I kursen människors miljöer provar eleverna på att leva i andra miljöer. Utgångspunkten är att bedriva olika levnadssätt med annorlunda livsperspektiv. I detta paddlingsäventyr byts vardagen byts ut mot en hållbar livsstil i många olika avseenden. Elevernas utvärdering talar om att detta var lugnande och avstressande samt nyttigt att testa sin självständighet och förmåga att lita på sig själv.
			</p>

			<img src="/images/smaller-2017-02-07T12-27-49.302Z.jpeg" alt="Kavlugnt vatten">
		</div>
	</section>

	<section class="pagination__wrapper">
		<a href="/nyheter/eleverna-pa-ekonomiprogrammets-globala-profil-pa-studieresa-i-berlin" class="pagination">
			<img class="icon icon--large" src="/images/icons/left.svg" aria-hidden="true">

			<div class="pagination__left">
				<div class="pagination__subtitle">Nästa nyhet</div>
				<div class="pagination__title">Eleverna på Ekonomiprogrammets globala profil på studieresa i Berlin</div>
			</div>
		</a>

		<div class="pagination__spacer"></div>

<!-- 		<a href="/nyheter/forelasning-med-entreprenoren-karoline-kull" class="pagination"> -->
<!-- 			<div class="pagination__right"> -->
<!-- 				<div class="pagination__subtitle">Föregående nyhet</div> -->
<!-- 				<div class="pagination__title"> -->
<!-- 					Föreläsning med entreprenören Karoline Kull -->
<!-- 				</div> -->
<!-- 			</div> -->

<!-- 			<img class="icon icon--large" src="/images/icons/right.svg" aria-hidden="true"> -->
<!-- 		</a> -->
	</section>
{% endblock %}
