{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<div class="content cover" style="background-image: url('/images/IMG_2881.jpeg');"></div>

	<section class="content">
		<div class="text-wrapper">
			<div class="title">
				S16b hälsar från Romme
			</div>

			<div class="label">
				<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
				9 februari 2017
			</div>

			<p class="text">
			</p>

		</div>
	</section>

	<section class="pagination__wrapper">
		<div class="pagination__spacer"></div>

		<a href="/nyheter/dagys-teaterelever-agerade-pa-ikeas-event" class="pagination">
			<div class="pagination__right">
				<div class="pagination__subtitle">Föregående nyhet</div>
				<div class="pagination__title">Dagys teaterelever agerade på IKEAs event</div>
			</div>

			<img class="icon icon--large" src="/images/icons/right.svg" aria-hidden="true">
		</a>
	</section>
{% endblock %}
