{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<div class="content cover" style="background-image: url('/images/smaller-2017-02-07T14-00-25.041Z.jpeg');"></div>

	<section class="content">
		<div class="text-wrapper">
			<div class="title">Spännande samtal med Mr David Cairns, British Ambassador to Sweden, på Dagy</div>

			<div class="label">
				<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
				18 januari 2017
			</div>

			<p class="text">
				Idag fick drygt 100 elever på DaGy - som läser En6 och En7 - möjlighet att träffa Mr David Cairns the British Ambassador to Sweden and the FCO’s Director for the Nordic Baltic Region. Under en timme bevarade han elevernas många intressanta frågor. Många frågor rörde Brexit men även frågor kopplade till det rådande världsläget, Rysslands roll och även det faktum att Donald Trump nu tillträder som president ställdes. David beskrev även hur det kom sig att han nu arbetar som ambassadör i Sverige och hur vägen dit sett ut.
			</p>

		</div>
	</section>

	<section class="pagination__wrapper">
		<a href="/nyheter/forsta-plats-i-skolornas-matematiktavling" class="pagination">
			<img class="icon icon--large" src="/images/icons/left.svg" aria-hidden="true">

			<div class="pagination__left">
				<div class="pagination__subtitle">Nästa nyhet</div>
				<div class="pagination__title">Första plats i Skolornas Matematiktävling</div>
			</div>
		</a>

		<div class="pagination__spacer"></div>

 		<a href="/nyheter/reportage-om-uf-foretaget-together-active-uf-i-danderyds-nyheter" class="pagination">
 			<div class="pagination__right">
 				<div class="pagination__subtitle">Föregående nyhet</div>
 				<div class="pagination__title">
					Reportage om UF-företaget Together Active UF i Danderyds nyheter
 				</div>
 			</div>

 			<img class="icon icon--large" src="/images/icons/right.svg" aria-hidden="true">
 		</a>
	</section>
{% endblock %}
