{% set header_dark = true %}

{% extends "../templates/default.html" %}

{% block content %}
	<div class="content cover" style="background-image: url('/images/IMG_1718-uf-morby.jpg');"></div>

	<section class="content">
		<div class="text-wrapper">
			<div class="title">UF-mässa i Mörby C</div>

			<div class="label">
				<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
				8 december 2016
			</div>

			<p class="text">
				Den 8 december var 40 UF-företag från Dagy i Mörby centrum för att sälja och visa upp sina varor & tjänster på årets Julmarknad. Kunderna hade möjlighet att köpa allt från smycken, drinkväktare & elektronik till hemlagad chokladkräm & granola. För våra duktiga UF-elever var detta deras första riktiga säljtillfälle och flera företag fick ett rejält tillskott i kassan. En lyckad dag helt enkelt! På julavslutningen kommer sex företag från julmarknaden att premieras för bästa sälj-team respektive proffsigaste bordet.
			</p>

		</div>
	</section>

	<section class="pagination__wrapper">
		<a href="/nyheter/forsta-plats-i-skolornas-matematiktavling" class="pagination">
			<img class="icon icon--large" src="/images/icons/left.svg" aria-hidden="true">

			<div class="pagination__left">
				<div class="pagination__subtitle">Nästa nyhet</div>
				<div class="pagination__title">Första plats i Skolornas Matematiktävling</div>
			</div>
		</a>

		<div class="pagination__spacer"></div>

 		<a href="/nyheter/forelasning-med-entreprenoren-karoline-kull" class="pagination">
 			<div class="pagination__right">
 				<div class="pagination__subtitle">Föregående nyhet</div>
 				<div class="pagination__title">
 					Föreläsning med entreprenören Karoline Kull
 				</div>
 			</div>

 			<img class="icon icon--large" src="/images/icons/right.svg" aria-hidden="true">
 		</a>
	</section>
{% endblock %}
